* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 24px;
}

.decoration-link {
  color: #576BCD;
  text-decoration-line: none;
}

.form {
  margin: 0 auto;
  padding: 48px;
  width: 448px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px 0;
}

.title-form {
  padding-bottom: 15px;
  display: block;
  font-size: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.field-input {
  font-size: 16px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: none;
  border-radius: 4px;
  outline-color: #aab4e4;
  box-shadow: rgb(226, 226, 229) 0 0 0 1px;
}

.field-submit {
  background-color: #5469d4;
  box-shadow: rgb(84, 105, 212) 0 0 0 1px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.input-link-label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.field-checkbox label {
  display: flex;
  align-items: center;
}

.sing-on-link {
  display: block;
  text-align: center;
  font-weight: 600;
}

.footer-link span {
  display: block;
  font-size: 14px;
  text-align: center;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-top-12 {
  padding-top: 24px;
}

.hidden {
  visibility: hidden;  
}

.message-color {
  color: #f00;  
}